span {
    transform: translate3d(0, 0, 0);
    will-change: transform, color;
}
.background span:nth-child(0) {
    color: #6cc0cb;
    top: 84%;
    left: 38%;
    animation-duration: 193s;
    animation-delay: -247s;
    transform-origin: -22vw -16vh;
    box-shadow: 100vmin 0 13.414128397628808vmin currentColor;
}
.background span:nth-child(1) {
    color: #6cc0cb;
    top: 8%;
    left: 87%;
    animation-duration: 157s;
    animation-delay: -249s;
    transform-origin: -7vw 13vh;
    box-shadow: -100vmin 0 13.285120293367132vmin currentColor;
}
.background span:nth-child(2) {
    color: #6cc0cb;
    top: 85%;
    left: 41%;
    animation-duration: 346s;
    animation-delay: -76s;
    transform-origin: -4vw -5vh;
    box-shadow: -100vmin 0 13.0565926444784vmin currentColor;
}
.background span:nth-child(3) {
    color: #583C87;
    top: 79%;
    left: 82%;
    animation-duration: 363s;
    animation-delay: -247s;
    transform-origin: -20vw -22vh;
    box-shadow: 100vmin 0 12.639104274735896vmin currentColor;
}
.background span:nth-child(4) {
    color: #583C87;
    top: 84%;
    left: 35%;
    animation-duration: 211s;
    animation-delay: -297s;
    transform-origin: -10vw -2vh;
    box-shadow: -100vmin 0 13.489795539367812vmin currentColor;
}
.background span:nth-child(5) {
    color: #6cc0cb;
    top: 54%;
    left: 59%;
    animation-duration: 318s;
    animation-delay: -232s;
    transform-origin: -22vw -23vh;
    box-shadow: -100vmin 0 12.974404512437442vmin currentColor;
}
.background span:nth-child(6) {
    color: #583C87;
    top: 16%;
    left: 74%;
    animation-duration: 105s;
    animation-delay: -203s;
    transform-origin: 21vw -22vh;
    box-shadow: -100vmin 0 13.274572983984964vmin currentColor;
}

.background span:nth-child(7) {
    color: #583C87;
    top: 92%;
    left: 40%;
    animation-duration: 6s;
    animation-delay: -42s;
    transform-origin: -10vw -7vh;
    box-shadow: 100vmin 0 12.793673199870744vmin currentColor;
}
.background span:nth-child(8) {
    color: #6cc0cb;
    top: 22%;
    left: 6%;
    animation-duration: 289s;
    animation-delay: -68s;
    transform-origin: -22vw -12vh;
    box-shadow: 100vmin 0 12.639027962072472vmin currentColor;
}
.background span:nth-child(9) {
    color: #6cc0cb;
    top: 91%;
    left: 62%;
    animation-duration: 212s;
    animation-delay: -230s;
    transform-origin: -6vw 13vh;
    box-shadow: 100vmin 0 13.450434246512222vmin currentColor;
}
.background span:nth-child(10) {
    color: #6cc0cb;
    top: 25%;
    left: 27%;
    animation-duration: 298s;
    animation-delay: -203s;
    transform-origin: 24vw -12vh;
    box-shadow: 100vmin 0 13.093785681558426vmin currentColor;
}
.background span:nth-child(11) {
    color: #583C87;
    top: 76%;
    left: 49%;
    animation-duration: 153s;
    animation-delay: -83s;
    transform-origin: 5vw -21vh;
    box-shadow: 100vmin 0 12.933457838566937vmin currentColor;
}
.background span:nth-child(12) {
    color: #6cc0cb;
    top: 92%;
    left: 51%;
    animation-duration: 176s;
    animation-delay: -145s;
    transform-origin: 19vw 23vh;
    box-shadow: -100vmin 0 13.432373972452893vmin currentColor;
}
.background span:nth-child(13) {
    color: #6cc0cb;
    top: 92%;
    left: 61%;
    animation-duration: 55s;
    animation-delay: -78s;
    transform-origin: -20vw -12vh;
    box-shadow: -100vmin 0 13.000772814922291vmin currentColor;
}
.background span:nth-child(14) {
    color: #583C87;
    top: 57%;
    left: 65%;
    animation-duration: 165s;
    animation-delay: -146s;
    transform-origin: -14vw 10vh;
    box-shadow: -100vmin 0 12.608171893618925vmin currentColor;
}